.row {
    box-shadow: 0 2px 5px #0000006b;
}

.logo {
    font-family: 'Mulish', 'Roboto', sans-serif;
    .logo__image {
    }
    .logo__name {
        font-weight: bolder;
        .name {
            font-size: 63px;
        }
        .caption {
            font-size: 22px;
        }
    }
}

.nav {
    .nav__icon {
        .menu-btn{
            --box-shadow-color: rgba(255, 101, 47, 0.2);
            width: 80px;
            height: 80px;
            position: relative;

            display: flex;
            justify-content: center;
            align-items: center;

            cursor: pointer;
            /* border: 5px solid #fff; */
            transition: all 0.5s ease-in-out;
            .menu-btn__burger,
            .menu-btn__burger::before,
            .menu-btn__burger::after {
                width: 50px;
                height: 6px;

                border-radius: 5px;
                background-color:#2b2b2b;
                box-shadow: 0 2px 5px var(--box-shadow-color);

                transition: all 0.5s ease-in-out;
            }
            .menu-btn__burger::before,
            .menu-btn__burger::after {
            content: "";
                position: absolute;
            }
            .menu-btn__burger::before {
                transform: translateY(-16px);
            }
            .menu-btn__burger::after {
                transform: translateY(16px);
            }

            /* ANIMATION */
            .menu-btn.open .menu-btn__burger {
                transform: translateX(-50px);
                background-color: transparent;
                box-shadow: none;
            }
            .menu-btn.open .menu-btn__burger::before {
                transform: rotate(45deg) translate(35px, -35px);
            }
            .menu-btn.open .menu-btn__burger::after {
                transform: rotate(-45deg) translate(35px, 35px);
            }
        }

    }
}