<div class="row d-flex justify-content-between">
    <div class="logo d-flex">
        <img class="logo__image" src="/assets/images/logo.svg" alt="">
        <div class="logo__name">
            <div class="name">Rationale (Pty) Ltd</div>
            <div class="caption">Built Enviroment consultents | constuction management</div>
        </div>
    </div>
    <div class="nav">
        <div class="nav__icon m-auto">
            <div class="menu-btn">
                <div class="menu-btn__burger"></div>
            </div>
        </div>
        <div class="menue"></div>
    </div>
</div>
