<!-- <div class="row d-flex justify-content-between">
    <div class="logo d-flex">
        <img class="logo__image" src="/assets/images/logo.svg" alt="">
        <div class="logo__name">
            <div class="name">Rationale (Pty) Ltd</div>
            <div class="caption">Built Enviroment consultents | constuction management</div>
        </div>
    </div>
    <div class="nav">
        <div class="nav__icon m-auto">
            <div class="menu-btn">
                <div class="menu-btn__burger"></div>
            </div>
        </div>
        <div class="menue"></div>
    </div>
</div> -->

<nav class="navbar navbar-light bg-light row pl-0">
    <a class="navbar-brand logo col-10 m-0" href="/">
        <img src="/assets/images/logo.svg"  class="d-inline-block align-top" alt="">
        <!-- Bootstrap -->
        <div class="logo__name">
            <div class="name">Rationale (Pty) Ltd</div>
            <div class="caption">Built Enviroment consultents | constuction management</div>
        </div>
    </a>

    <button class="navbar-toggler col-2" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse col-12" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
    </div>
  </nav>
