<div class="footer d-flex text-center">
    <a href="tel:+27796468422" style="color: black" class="col-4 wrapper">
        <img src="./assets/footer/phone.svg" alt="">   
        <span>Contact numbers</span>
    </a>
    <a href="mailto:enquirers@rationale.co.za" style="color: black" class="col-4 wrapper">
        <img src="./assets/footer/email.svg" alt="">   
        <span>Email address</span>
    </a>
    <div class="col-4 wrapper" (click)="shearSite()">
        <img src="./assets/footer/shear.svg" alt="">   
        <span>Share</span>    
    </div>
</div>
