<div class="container">
    <div class="row">
        <h3 class="col-12">About</h3>
    </div>
</div>
<div class="row">
    <img src="/assets/images/about/buildingSite.jpg" alt="">
</div>
<div class="container">
    <div class="row">
        <p class="col-12">
            Rationale (Pty) Ltd, is an independent company operating from Pretoria, Gauteng. The company was found in May 2020.
            The company aims to provide established value adding
            engineering services to our clients in an effective, efficient and
            value optimized manner. It also commits to employ and maintain highly reputable skills and technology needed to meet each project’s needs.
        </p>
        <p class="col-12">
            Rationale (Pty) Ltd currently offers its services through services
            and has the capacity to cater to the broader SADC region on
            request. The company has the ability to expand on its capacity
            and scope by means of existing and potential MOA’s with
            associate companies and independent professionals.
        </p>
    </div>
    <div class="row">
        <div class="content col-12">
            Our vision is to realise and maintain
            the required symbiosis between
            human skills and ethics, as well as
            technology, to present the most
            effective and customer orientated
            service in all situations.
        </div>
        <p class="col-12 sub_tail">Mission</p>
        <div class="content col-12">
            <p>
                Our mission is to assist clients to
                build and maintain building
                infrastructure and facilities in a
                manner that is safe, effective for use
                and compliant with all applicable
                statutes. It also includes the display of sound project management skills
                at all stages of projects.
            </p>
        </div>
        <p class="col-12 sub_tail">Core Values</p>
        <div class="content col-12">
            <p>Our core values are best described</p>
            <p>by the acronym T.I.M.E:</p>
            
            <ul>
                <li>Trust</li>
                <li>Integrity</li>
                <li>Mutual Respect</li>
                <li>Efficiency</li>
            </ul>
        </div>
    </div>
</div>