img {
    background-size: cover;
    width: 100%;
}

.content {
    padding: 0px 90px 30px;
    // transform: rotate(90deg);
}

:host{
    transform: rotate(90deg);
}

div {
    font-size: 23px;
}


@media (max-width: 760px) {
    div {
        font-size: 18px;
    }

    .content {
        padding: 0px 40px 14px !important;
    }

    .sub_tail {
        margin: 0;
    }

    img {
        height: 160px;
    }
}