<div class="container mt-3">
    <div class="row">
        <h3 class="col-12">About Us</h3>
    </div>
</div>
<!-- <div class="row">
    <img src="/assets/images/about/buildingSite.jpg" alt="">
</div> -->
<div class="container">
    <div class="row">
        <p class="col-12">
            Rationale (Pty) Ltd was founded in May 2020.
            The company aims to at all times combine the best available human resources, and technology in order to provide our clients with the most optimised solutions for their built environement needs
        </p>
        <p class="col-12">
            Rationale (Pty) Ltd currently offers its services throughout the South African landscape, with prospect of 
            expansion into the SADC region and Africa at large.  Our permamanent and transient staff, as well as our network 
            of trustes associates ensure that we have the required skillset and capacity to meet all deliverables for every 
            prject we commit to
        </p>
    </div>
    <div class="row">
        <p class="col-12">Vision</p>
        <div class="content col-12">
            Our vision is to create and maintain
            the required symbiosis between
            human skills, ethics, as well as
            technology to present the most
            effective and customer orientated
            service in all situations.
        </div>
        <p class="col-12">Mission</p>
        <div class="content col-12">
            <p>
                Our mission is to assist clients to
                build and maintain building
                infrastructure and facilities in a
                manner that is safe, effective for use
                and compliant with all applicable
                statutes. It also includes the display of sound project management skills
                at all stages of projects.
            </p>
        </div>
        <p class="col-12">Core Values</p>
        <div class="content col-12">
            <p>Our core values are best described by the acronym T.I.M.E:</p>
            <ul>
                <li>Trust</li>
                <li>Integrity</li>
                <li>Mutual Respect</li>
                <li>Efficiency</li>
            </ul>
        </div>
    </div>
</div>