
<div class="row">
    <img src="./assets/images/contact/contact.jpg" alt="">
</div>
<div class="container" id="contacts">
    <div class="row">
        <h3 class="">Contact Us</h3>
    </div>

    <form action="">
        <div class="row mb-5">
            <div class="col-sm-6 col-12">
                <div class="">
                    <label for="" class="pure-material-textfield-outlined w-100">
                        <input type="text">
                        <span class="">Name and surname</span>
                    </label>
                </div>
                <div class="">
                    <label for="" class="pure-material-textfield-outlined w-100">
                        <input type="text">
                        <span class="">Email</span>
                    </label>
                </div>
                <div class="">
                    <label for="" class="pure-material-textfield-outlined w-100">
                        <input type="text">
                        <span class="">Subject</span>
                    </label>
                </div>
            </div>
            <div class="col-sm-6 col-12" >
                <label for="" class="pure-material-textfield-outlined w-100">
                    <textarea name="" id="" cols="30" rows="5"></textarea>
                    <span class="">Description</span>
                </label>
            </div>
            <div class="buttons col-12 text-center">
                <button class="btn_2 btn-info px-5 py-2">Submit</button>
            </div>
        </div>
    </form>
</div>
