
<div class="row">
    <img src="/assets/images/contact/contact.jpg" alt="">
</div>
<div class="container">
    <div class="row">
        <h3 class="col-12">Contact Us</h3>
    </div>

    <form action="">
        <div class="row">
            <div class="col-sm-6 col-12">
                <div class="col-12">
                    <input type="text">
                </div>
                <div class="col-12">
                    <input type="text">
                </div>
                <div class="col-12">
                    <input type="text">
                </div>
            </div>
            <div class="col-sm-6 col-12">
                <textarea name="" id="" cols="30" rows="10"></textarea>
            </div>
            <div class="buttons col-12 text-center">
                <button class="btn btn-info px-5 py-2">Submit</button>
            </div>
        </div>
    </form>
</div>
