<div class="slideshow-container row container p-0" id="projects">
    <h3>Projects and Clients</h3>
    <div class="mySlides w-100 mt-1">
        <div class="numbertext">1 / 12</div>
        <div class="image_wrapper">
            <img src="/assets/images/projects/01.jpg" style="width: 100%;">
            <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
            <a class="next" (click)="plusSlides(1)">&#10095;</a>
        </div>
        <div class="text">
            <h5 class="col-12 p-0">Puma Filling Station Groblersdal</h5>
            <strong class="col-12 p-0">Services</strong>
            <p>Fire and mechanical engineering services as required for the
                design, procurement, construction and handover of a new
                petrol station in Groblersdal.</p>
            <strong class="col-12 p-0">Client</strong>
            <p>MADS Architects</p>
            <strong class="col-12 p-0">Location</strong>
            <p>Groblersdal | Limpopo Province | South Africa</p>
        </div>
    </div>
    <div class="mySlides w-100">
        <div class="numbertext">2 / 4</div>
        <img src="https://www.w3schools.com/howto/img_fjords_wide.jpg" style="width: 100%;">
        <div class="text">Caption Text 2</div>
    </div>

    <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
    <a class="next" (click)="plusSlides(1)">&#10095;</a>
</div>
