<div class="slideshow-container row container p-0" id="projects">
    <div class="mySlides w-100">
        <div class="numbertext">1 / 4</div>
        <img src="https://www.w3schools.com/howto/img_nature_wide.jpg" style="width: 100%;">
        <div class="text">Caption Text 1</div>
    </div>
    <div class="mySlides w-100">
        <div class="numbertext">2 / 4</div>
        <img src="https://www.w3schools.com/howto/img_fjords_wide.jpg" style="width: 100%;">
        <div class="text">Caption Text 2</div>
    </div>

    <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
    <a class="next" (click)="plusSlides(1)">&#10095;</a>
</div>
