.slideshow-container {
//   max-width: 1000px;
    position: relative;
    margin: auto;
}

.image_wrapper {
    position: relative;
    text-align: center;
    img {
        max-height: 200px;
        width: 100%;
    }

}
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 0px;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    
    background: #516eb6b3;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    right: 54px;
    border-radius: 0 3px 3px 0;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}



.text {
    font-size: 15px;
    padding: 8px 12px;
    max-width: 85ch;
    min-height: 250px;
    height: 250px;
    overflow-y: scroll;
    margin: 0 auto;
}

.numbertext {
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 30px;
    color: black;
    left: -12px;
    z-index: 2;
}

.dot {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

.scope {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

@media (max-width: 760px) {
    .scope{
        grid-template-columns: 1fr;
    }
}
