


.service {

    .service__img {
        width: 170px;
        height: 180px;
        float: left;
        margin: 0 10px;
    }
    
    > div.col-12 {
        margin-bottom: 24px;
        position: relative;
    
        &::before,
        &::after {
            content: "";
            height: 3px;
            width: 200px;
            background-color: #dedede;
            position: absolute;
            
        }
        
        &::before {
            transform: rotate(-90deg);
            transform-origin: bottom left;
            width: 7% !important;
        }

        &.odd::before,
        &.odd:after {
            left: 0;
            bottom: -2%;
        }

        &.even::before,
        &.even::after {
            left: 100%;
        }
        &.even::after {
            bottom: 0;
            transform: rotate(-180deg);
            transform-origin: bottom left;
        }

        &.even:before {
            bottom: -4px;
            transform-origin: left;
        }

    }

    .service__info {
        font-size: 20px;
        font-weight: bold;
    }

}

@media (min-width: 320px) {
    
}

@media (max-width: 760px) {
    .service__img {
        max-width: initial !important;
        height: 56% !important;
    }

    div.col-12.even{
        &::before {
            bottom: -2px !important;
        }
    }

    h3 {
        font-size: 22px;
    }

    .heading {
        font-size: 17px;
    }
    
}
