<div class="container">
    <div class="row service">
        <h3 class="col-12">Services we offer</h3>

        <div class="col-12 row mx-md-0 mx-sm-0 mx-0 odd">
            <img class="col-md-4 col-sm-12 service__img" src="/assets/images/services/project_inception.svg" alt="">
            <div class="col-md-8 col-sm-12 service__info">
                <div class="heading">Project inception and feasibility</div>
                <div class="body"></div>
            </div>
        </div>
        <div class="col-12 row mx-md-0 mx-sm-0 mx-0 even">
            <img class="col-md-4 col-sm-12 service__img" src="/assets/images/services/design_cost.svg" alt="">
            <div class="col-md-8 col-sm-12 service__info">
                <div class="heading">System concept and Detailed design, specification and cost estimateTender documentation and adgudication</div>
                <div class="body"></div>
            </div>
        </div>
        <div class="col-12 row mx-md-0 mx-sm-0 mx-0 odd">
            <img class="col-md-4 col-sm-12 service__img" src="/assets/images/services/contract.svg" alt="">
            <div class="col-md-8 col-sm-12 service__info">
                <div class="heading">Tender documentation and adgudication</div>
                <div class="body"></div>
            </div>
        </div>
        <div class="col-12 row mx-md-0 mx-sm-0 mx-0 even">
            <img class="col-md-4 col-sm-12 service__img" src="/assets/images/services/qa_engineers.svg" alt="">
            <div class="col-md-8 col-sm-12 service__info">
                <div class="heading">Constuction suppervision and administration</div>
                <div class="body"></div>
            </div>
        </div>
        <div class="col-12 row mx-md-0 mx-sm-0 mx-0 odd">
            <img class="col-md-4 col-sm-12 service__img" src="/assets/images/services/handover.svg" alt="">
            <div class="col-md-8 col-sm-12 service__info">
                <div class="heading">System independence and/or intergrated commissioning and handover</div>
                <div class="body"></div>
            </div>
        </div>
        <div class="col-12 row mx-md-0 mx-sm-0 mx-0 even">
            <img class="col-md-4 col-sm-12 service__img" src="/assets/images/services/audit.svg" alt="">
            <div class="col-md-8 col-sm-12 service__info">
                <div class="heading">Building audits and Due deligence execises</div>
                <div class="body"></div>
            </div>
        </div>
        <div class="col-12 row mx-md-0 mx-sm-0 mx-0 odd">
            <img class="col-md-4 col-sm-12 service__img" src="/assets/images/services/perspective.svg" alt="">
            <div class="col-md-8 col-sm-12 service__info">
                <div class="heading">Perspective and retional design</div>
                <div class="body"></div>
            </div>
        </div>
        <div class="col-12 row mx-md-0 mx-sm-0 mx-0 even">
            <img class="col-md-4 col-sm-12 service__img" src="/assets/images/services/droughting.svg" alt="">
            <div class="col-md-8 col-sm-12 service__info">
                <div class="heading">Droughting services</div>
                <div class="body"></div>
            </div>
        </div>
    </div>
</div>
