


.service {

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    margin-top: 2rem;

    .service__img {
        position: absolute;
        bottom: 16px;
        right: 15px;
        filter: drop-shadow(4px 0px 2px black);
        z-index: -1;
    }
    
    > div {
        // margin-bottom: 24px;
        position: relative;
        padding: 1rem;
        box-shadow: 0px 0px 20px 3px #00000059;
        min-height: 300px;
        
        &:first-child .body li:last-child {
            max-width: 23ch;
        }

    }

    .service__info {
        font-size: 20px;
        font-weight: 500;
    }

}

@media (min-width: 320px) {
    
}

@media (max-width: 999px) {
    .service {
        grid-template-columns: 1fr;

        > div {
            width: 570px;
            margin: auto;
        }
    }
}

@media (max-width: 600px) {
    .service {
        grid-template-columns: 100%;
        > div {
            width: 100%;

            &:first-child .body li {
                max-width: 20ch;

                &:last-child {
                    max-width: 16ch;
                }
            }
        }

        .service__img {
            width: 21%;
        }
    }


}

@media (max-width: 380px) {
    .service {

        .service__img {
            width: 16%;
        }
    }


}
