<div class="container">
    <div class="row service">
        <h3 class="">Services we offer</h3>
        <div class="col-12 row mx-md-0 mx-sm-0 mx-0" *ngFor="let service of services; let i = index" [ngClass]="{'odd': i % 2 == 0, 'even': i % 2 != 0}">
            <img class="col-md-4 col-sm-12 service__img" src="{{service.image}}" alt="">
            <div class="col-md-8 col-sm-12 service__info">
                <div class="heading">{{service.headline}}</div>
                <div class="body">{{service.body}}</div>
            </div>
        </div>
    </div>
</div>
