<div class="slideshow-container_2 row" id="home">
    <div class="mySlides_2 w-100">
        <!-- <div class="numbertext">1 / 4</div> -->
        <img src="/assets/images/slider/01.jpg" style="width: 100%;">
    </div>
    <div class="mySlides_2 w-100">
        <!-- <div class="numbertext">2 / 4</div> -->
        <img src="/assets/images/slider/02.jpg" style="width: 100%;">
    </div>
    <div class="mySlides_2 w-100">
        <!-- <div class="numbertext">2 / 4</div> -->
        <img src="/assets/images/slider/03.jpg" style="width: 100%;">
    </div>
    <div class="mySlides_2 w-100">
        <!-- <div class="numbertext">2 / 4</div> -->
        <img src="/assets/images/slider/04.jpg" style="width: 100%;">
    </div>
    <div class="mySlides_2 w-100">
        <!-- <div class="numbertext">2 / 4</div> -->
        <img src="/assets/images/slider/05.jpg" style="width: 100%;">
    </div>
    <div class="mySlides_2 w-100">
        <!-- <div class="numbertext">2 / 4</div> -->
        <img src="/assets/images/slider/06.jpg" style="width: 100%;">
    </div>

    <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
    <a class="next" (click)="plusSlides(1)">&#10095;</a>
</div>

