/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: "Mulish";
    src: url("/assets/Fonts/Mulish/Mulish-VariableFont_wght.ttf");
}

@import "~bootstrap/dist/css/bootstrap.css";

h3 {
    font-weight: 700;
}

.image_spaning 
    img {
    object-fit: cover;
    width: 100%;
}


@media (max-width: 999px) {
    .container {
        max-width: 100% !important;
    }
}